Importação dos módulos

In [95]:
import pandas as pd
import numpy as np
import os
import re
from matplotlib import pyplot as plt



**Adição dos arquivos csv**

In [170]:
circuitos=pd.read_csv("https://raw.githubusercontent.com/JosenildoVicente/analiseDadosF1/master/f1/circuits.csv", encoding = "ISO-8859-1")
equipes_resultados=pd.read_csv("https://raw.githubusercontent.com/JosenildoVicente/analiseDadosF1/master/f1/constructorResults.csv", encoding = "ISO-8859-1")
equipes_classificacao=pd.read_csv("https://raw.githubusercontent.com/JosenildoVicente/analiseDadosF1/master/f1/constructorStandings.csv", encoding = "ISO-8859-1")
equipes=pd.read_csv("https://raw.githubusercontent.com/JosenildoVicente/analiseDadosF1/master/f1/constructors.csv", encoding = "ISO-8859-1")
pilotos_classificacao=pd.read_csv("https://raw.githubusercontent.com/JosenildoVicente/analiseDadosF1/master/f1/driverStandings.csv", encoding = "ISO-8859-1")
pilotos=pd.read_csv("https://raw.githubusercontent.com/JosenildoVicente/analiseDadosF1/master/f1/drivers.csv", encoding = "ISO-8859-1")
tempos_voltas=pd.read_csv("https://raw.githubusercontent.com/JosenildoVicente/analiseDadosF1/master/f1/lapTimes.csv", encoding = "ISO-8859-1")
tempos_parada=pd.read_csv("https://raw.githubusercontent.com/JosenildoVicente/analiseDadosF1/master/f1/pitStops.csv", encoding = "ISO-8859-1")
qualificacao=pd.read_csv("https://raw.githubusercontent.com/JosenildoVicente/analiseDadosF1/master/f1/qualifying.csv", encoding = "ISO-8859-1")
corridas=pd.read_csv("https://raw.githubusercontent.com/JosenildoVicente/analiseDadosF1/master/f1/races.csv", encoding = "ISO-8859-1")
resultados=pd.read_csv("https://raw.githubusercontent.com/JosenildoVicente/analiseDadosF1/master/f1/results.csv", encoding = "ISO-8859-1")
temporadas=pd.read_csv("https://raw.githubusercontent.com/JosenildoVicente/analiseDadosF1/master/f1/seasons.csv", encoding = "ISO-8859-1")
status=pd.read_csv("https://raw.githubusercontent.com/JosenildoVicente/analiseDadosF1/master/f1/status.csv", encoding = "ISO-8859-1")

**Pré processamento dos dados:**

**Verificando as tabelas**

In [12]:
circuitos.head()

   circuitId  ...                                                url
0          1  ...  http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1          2  ...  http://en.wikipedia.org/wiki/Sepang_Internatio...
2          3  ...  http://en.wikipedia.org/wiki/Bahrain_Internati...
3          4  ...  http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4          5  ...         http://en.wikipedia.org/wiki/Istanbul_Park

[5 rows x 9 columns]

In [13]:
equipes_resultados.head()

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0    NaN
1                     2      18              2     8.0    NaN
2                     3      18              3     9.0    NaN
3                     4      18              4     5.0    NaN
4                     5      18              5     2.0    NaN

In [14]:
equipes_classificacao.head()

   constructorStandingsId  raceId  constructorId  ...  positionText  wins Unnamed: 7
0                       1      18              1  ...             1     1        NaN
1                       2      18              2  ...             3     0        NaN
2                       3      18              3  ...             2     0        NaN
3                       4      18              4  ...             4     0        NaN
4                       5      18              5  ...             5     0        NaN

[5 rows x 8 columns]

In [15]:
equipes.head()

   constructorId  ... Unnamed: 5
0              1  ...        NaN
1              2  ...        NaN
2              3  ...        NaN
3              4  ...        NaN
4              5  ...        NaN

[5 rows x 6 columns]

In [16]:
pilotos_classificacao.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [17]:
pilotos.head()

   driverId  ...                                             url
0         1  ...     http://en.wikipedia.org/wiki/Lewis_Hamilton
1         2  ...      http://en.wikipedia.org/wiki/Nick_Heidfeld
2         3  ...       http://en.wikipedia.org/wiki/Nico_Rosberg
3         4  ...    http://en.wikipedia.org/wiki/Fernando_Alonso
4         5  ...  http://en.wikipedia.org/wiki/Heikki_Kovalainen

[5 rows x 9 columns]

In [18]:
tempos_voltas.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [24]:
tempos_parada.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [20]:
qualificacao.head()

   qualifyId  raceId  driverId  ...        q1        q2        q3
0          1      18         1  ...  1:26.572  1:25.187  1:26.714
1          2      18         9  ...  1:26.103  1:25.315  1:26.869
2          3      18         5  ...  1:25.664  1:25.452  1:27.079
3          4      18        13  ...  1:25.994  1:25.691  1:27.178
4          5      18         2  ...  1:25.960  1:25.518  1:27.236

[5 rows x 9 columns]

In [39]:
corridas.head()

   raceId  year  ...      time                                                url
0       1  2009  ...  06:00:00  http://en.wikipedia.org/wiki/2009_Australian_G...
1       2  2009  ...  09:00:00  http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2       3  2009  ...  07:00:00  http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3       4  2009  ...  12:00:00  http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4       5  2009  ...  12:00:00  http://en.wikipedia.org/wiki/2009_Spanish_Gran...

[5 rows x 8 columns]

In [22]:
resultados.head()

   resultId  raceId  driverId  ...  fastestLapTime  fastestLapSpeed  statusId
0         1      18         1  ...         01:27.5            218.3         1
1         2      18         2  ...         01:27.7          217.586         1
2         3      18         3  ...         01:28.1          216.719         1
3         4      18         4  ...         01:28.6          215.464         1
4         5      18         5  ...         01:27.4          218.385         1

[5 rows x 18 columns]

In [23]:
temporadas.head()

   year                                                url
0  2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1  2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2  2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3  2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4  2005  http://en.wikipedia.org/wiki/2005_Formula_One_...

In [75]:
#apenas para verificar algumas consultas
races_by_year = pd.merge(corridas,temporadas, on='year', how = 'inner')
races_by_year[races_by_year['year'] == 2010]

     raceId  ...                                              url_y
336     337  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
337     338  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
338     339  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
339     340  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
340     341  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
341     342  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
342     343  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
343     344  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
344     345  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
345     346  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
346     347  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
347     348  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
348     349  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
349     350  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
350     351  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
351     352  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
352     353  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
353     354  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...
354     355  ...  http://en.wikipedia.org/wiki/2010_Formula_One_...

[19 rows x 9 columns]

In [56]:
resultados['positionText'].value_counts()

R     8517
F     1368
4      986
3      986
2      984
5      982
1      979
6      975
7      955
8      927
9      889
10     829
11     752
12     651
13     565
14     461
15     391
W      323
16     310
17     226
N      190
18     149
D      141
19     101
20      58
21      34
22      19
E        9
23       8
24       3
33       1
25       1
32       1
26       1
31       1
30       1
28       1
27       1
29       1
Name: positionText, dtype: int64

In [70]:
resultados.shape

(23777, 18)

In [72]:
circuitos.shape

(73, 9)

In [73]:
pilotos.shape

(842, 9)

In [74]:
equipes.shape

(208, 6)

In [80]:
corridas.shape

(997, 8)

In [68]:
resultados.dtypes

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number             float64
grid                 int64
position           float64
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds       float64
fastestLap         float64
rank               float64
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

In [76]:
equipes.dtypes

constructorId       int64
constructorRef     object
name               object
nationality        object
url                object
Unnamed: 5        float64
dtype: object

In [77]:
circuitos.dtypes

circuitId       int64
circuitRef     object
name           object
location       object
country        object
lat           float64
lng           float64
alt           float64
url            object
dtype: object

In [78]:
pilotos.dtypes

driverId         int64
driverRef       object
number         float64
code            object
forename        object
surname         object
dob             object
nationality     object
url             object
dtype: object

In [79]:
corridas.dtypes

raceId        int64
year          int64
round         int64
circuitId     int64
name         object
date         object
time         object
url          object
dtype: object

In [67]:
resultados.isna().sum()

resultId               0
raceId                 0
driverId               0
constructorId          0
number                 6
grid                   0
position           10550
positionText           0
positionOrder          0
points                 0
laps                   0
time               17773
milliseconds       17774
fastestLap         18394
rank               18246
fastestLapTime     18394
fastestLapSpeed    18394
statusId               0
dtype: int64

In [71]:
circuitos.isnull().sum()

circuitId      0
circuitRef     0
name           0
location       0
country        0
lat            0
lng            0
alt           72
url            0
dtype: int64

**Agora vamos ao pré-processamento de fato**

Vimos todas as tabelas dos nossos dados e seus atributos, vamos unir em um único dataframe para que possa facilitar nossa vida na hora das análises.

Primeiro vamos remover dados que julgamos que não são necessários ou que não farão parte na nossa análise, bem como renomear alguns para maior entendimento do escopo.

In [171]:
resultados.drop(columns = ['rank', 'positionOrder'], inplace = True)

equipes.drop(columns = ['nationality', 'url', 'Unnamed: 5'], inplace = True)
equipes.rename(columns = {'name': 'constructorName'}, inplace = True)

corridas.drop(columns = ['time', 'url'], inplace = True)
corridas.rename(columns = {'name': 'raceName', 'date': 'raceDate'}, inplace = True)

circuitos.drop(columns = ['lat', 'lng', 'alt', 'url'], inplace = True)
circuitos.rename(columns = {'name': 'circuitName'}, inplace = True)

pilotos.drop(columns = ['number', 'code', 'url'], inplace = True)

unindo todos os os dataframes utilizados em um úni dataframe

In [172]:
df = resultados.copy()
df = df.merge(equipes, how = 'left')
df = df.merge(corridas, how = 'left')
df = df.merge(circuitos, how = 'left')
df = df.merge(pilotos, how = 'left')
df = df.merge(status, how = 'left')

In [173]:
len(df), len(resultados)

(23777, 23777)

como podemos perceber acima, os merges foram corretos e não geraram duplicatas.

**Agora que cobrimos boa parte do pré-processamento, vamos começar a extrair as informações**

In [174]:
df.head()

   resultId  raceId  driverId  ...         dob  nationality    status
0         1      18         1  ...  07/01/1985      British  Finished
1         2      18         2  ...  10/05/1977       German  Finished
2         3      18         3  ...  27/06/1985       German  Finished
3         4      18         4  ...  29/07/1981      Spanish  Finished
4         5      18         5  ...  19/10/1981      Finnish  Finished

[5 rows x 33 columns]

Primeiro vamos ver qual o período de tempo abordado nesse conjunto de dados.

In [148]:
df['year'].min(), df['year'].max()

(1950, 2017)

In [149]:
df.dtypes

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number             float64
grid                 int64
position           float64
positionText        object
points             float64
laps                 int64
time                object
milliseconds       float64
fastestLap         float64
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
constructorRef      object
constructorName     object
year                 int64
round                int64
circuitId            int64
raceName            object
raceDate            object
circuitRef          object
circuitName         object
location            object
country             object
driverRef           object
forename            object
surname             object
dob                 object
nationality         object
status              object
dtype: object

Podemos perceber que alguns tipos não estão no formato que deveriam, como o atributo fastesteLapSpeed, portanto vamos converte-lo e seguir com as análises

In [150]:
df['fastestLapSpeed'].astype('float64')

ValueError: ignored

É possível perceber que um erro foi gerado na conversão, para não gerar impactos em análises posteriores vamos verificar o motivo disso estar acontecendo

In [151]:
df[df['fastestLapSpeed'] == '01:42.6'][['driverRef','year','country','fastestLapSpeed','fastestLapTime']]

      driverRef  year country fastestLapSpeed fastestLapTime
23764      ocon  2017     UAE         01:42.6        01:42.6

Para corrigir o problema, vamos utilizar a técnica de relacionar a velocidade dele com a média de velocidade

Obs: Como o atributo fastestLapSpeed ainda não foi convertido calculamos manualmente e atribuiremos esse valor.

In [152]:
df[(df['year'] == 2017) & (df['country'] == 'UAE')][['driverRef', 'fastestLapTime','fastestLapSpeed','position']]

             driverRef fastestLapTime fastestLapSpeed  position
23757           bottas        01:40.7         198.652       1.0
23758         hamilton        01:41.5         197.041       2.0
23759           vettel        01:40.8         198.416       3.0
23760        raikkonen        01:42.3         195.376       4.0
23761   max_verstappen        01:42.0         195.969       5.0
23762       hulkenberg        01:42.4         195.303       6.0
23763            perez        01:42.7         194.708       7.0
23764             ocon        01:42.6         01:42.6       8.0
23765           alonso        01:43.4          193.41       9.0
23766            massa        01:43.0         194.071      10.0
23767         grosjean        01:42.4         195.187      11.0
23768        vandoorne        01:44.0         192.279      12.0
23769  kevin_magnussen        01:43.9         192.387      13.0
23770         wehrlein        01:43.9           192.5      14.0
23771  brendon_hartley        01:43.9         192.444      15.0
23772            gasly        01:43.8         192.542      16.0
23773         ericsson        01:43.6         193.057      17.0
23774           stroll        01:42.3         195.402      18.0
23775            sainz        01:43.4          193.41       NaN
23776        ricciardo        01:42.8         194.579       NaN

In [176]:
df.loc[23764,['fastestLapSpeed']] = '194.551'

Verificando a atualização

In [177]:
df[(df['year'] == 2017) & (df['country'] == 'UAE')][['driverRef', 'fastestLapTime','fastestLapSpeed','position']]

             driverRef fastestLapTime fastestLapSpeed  position
23757           bottas        01:40.7         198.652       1.0
23758         hamilton        01:41.5         197.041       2.0
23759           vettel        01:40.8         198.416       3.0
23760        raikkonen        01:42.3         195.376       4.0
23761   max_verstappen        01:42.0         195.969       5.0
23762       hulkenberg        01:42.4         195.303       6.0
23763            perez        01:42.7         194.708       7.0
23764             ocon        01:42.6         194.551       8.0
23765           alonso        01:43.4          193.41       9.0
23766            massa        01:43.0         194.071      10.0
23767         grosjean        01:42.4         195.187      11.0
23768        vandoorne        01:44.0         192.279      12.0
23769  kevin_magnussen        01:43.9         192.387      13.0
23770         wehrlein        01:43.9           192.5      14.0
23771  brendon_hartley        01:43.9         192.444      15.0
23772            gasly        01:43.8         192.542      16.0
23773         ericsson        01:43.6         193.057      17.0
23774           stroll        01:42.3         195.402      18.0
23775            sainz        01:43.4          193.41       NaN
23776        ricciardo        01:42.8         194.579       NaN

Agora vamos a conversão

In [178]:
df['fastestLapSpeed'] = df['fastestLapSpeed'].astype('float64')
getMeanSpeed = df[(df['year'] == 2017) & (df['country'] == 'UAE')]
getMeanSpeed['fastestLapSpeed'].mean()

194.5642

vamos adicionar mais um coluna no dataframe relativa a distância da volta, para calcular a distância sabemos que velocidade = distância/tempo, portanto distância = velocidade * tempo, dessa forma saberemos qual a distância de 1 volta da corrida

In [181]:
df['fastestLapTimeSeg'] = (df['fastestLapTime'].str.split(':', expand = True)[0].astype('float64') * 60) + df['fastestLapTime'].str.split(':', expand = True)[1].astype('float64')
df['fastestLapTimeSeg'].head()

0    87.5
1    87.7
2    88.1
3    88.6
4    87.4
Name: fastestLapTimeSeg, dtype: float64

In [182]:
df['fastestLapSpeedMps'] = 1000 * df['fastestLapSpeed'] / 3600

uma vez que possuimos a tabela em Metros por segundo, podemos calcular a distância aproximada do circuito conforme a formula s = v * t

In [184]:
df['fastestLapDist'] = df['fastestLapTimeSeg'] * df['fastestLapSpeedMps']
df['fastestLapDist'].head()

0    5305.902778
1    5300.636722
2    5303.595528
3    5302.808444
4    5301.902500
Name: fastestLapDist, dtype: float64

In [185]:
df.head()

   resultId  raceId  ...  fastestLapSpeedMps  fastestLapDist
0         1      18  ...           60.638889     5305.902778
1         2      18  ...           60.440556     5300.636722
2         3      18  ...           60.199722     5303.595528
3         4      18  ...           59.851111     5302.808444
4         5      18  ...           60.662500     5301.902500

[5 rows x 36 columns]

Após analisarmos melhor os dados percebemos que a velocidade das voltas estavam sendo medidas em MPH e a distância da pista medida em metros, portanto vamos realizar as respectivas conversões

In [186]:
df['fastestLapSpeed'] = df['fastestLapSpeed']*1.61
df['fastestLapDist'] = df['fastestLapDist'] / 1000
df[['country','circuitName', 'fastestLapDist','fastestLapSpeed']].head()

     country                     circuitName  fastestLapDist  fastestLapSpeed
0  Australia  Albert Park Grand Prix Circuit        5.305903        351.46300
1  Australia  Albert Park Grand Prix Circuit        5.300637        350.31346
2  Australia  Albert Park Grand Prix Circuit        5.303596        348.91759
3  Australia  Albert Park Grand Prix Circuit        5.302808        346.89704
4  Australia  Albert Park Grand Prix Circuit        5.301902        351.59985